* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    line-height: 1.6;
    margin: 0;
    font-size: 1.2rem;
    min-height: 100vh;
}

p {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

nav ul {
    list-style: none;
}

a {
    color: var(--color-foreground);
    cursor: pointer;
}

a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: normal;
    line-height: 1.1;
}

:focus {
    outline: none;
}

h1 {
    font-size: 3.5em;
    margin-block-end: 0.2em;
}

h2 {
    font-size: 2em;
    margin-block-end: 0.8em;
    margin-block-start: 1.2em;
}

h3 {
    font-size: 1.3em;
    margin-block-end: 0.8em;
    margin-block-start: 1.2em;
    color: var(--color-highlight);
}

h1 sub {
    font-size: 0.33em;
    font-style: normal;
    color: var(--color-highlight);
    vertical-align: baseline;
    white-space: nowrap;
}

h4 {
    font-size: 1em;
    font-style: normal;
    color: var(--color-highlight);
    vertical-align: baseline;
    white-space: nowrap;
}

ul, ol {
    margin-left: 1.5em;
}

blockquote {
    margin: 1.5em 0em;
    font-size: 0.9em;
}

blockquote p {
    font-style: italic;
    font-size: 1.3em;
    color: var(--color-soft);
    width: 90%;
}

blockquote a {
    font-weight: bold;
    text-decoration: none;
}

q {
    color: var(--color-highlight);
}

q::after, q::before {
    content: "";
}

small {
    font-size: small;
}

code {
    padding: .2em;
    background-color: var(--color-backplate);
    border-radius: .2em;
}

pre code {
    padding: 0;
    background-color: initial;
    border-radius: 0;
    overflow-wrap: break-word;
}

pre {
    border: 1px var(--color-foreground) solid;
    border-radius: 0.3em;
    padding: 1em;
    /* overflow-y: scroll; */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

hr {
    border: 3px var(--color-primary) solid;
    margin: 2em 0em;
    width: 3em;
}

img {
    margin: 0em 0em;
    max-width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    margin-top: -0.5em;
}

figcaption * {
    color: var(--color-highlight);
    font-style: italic;
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 0.5em;
    padding-bottom: 0;
}

thead tr th {
    border-bottom: 2px var(--color-foreground) solid;
}

tbody tr td {
    border-right: 1px var(--color-foreground) solid;
}

tbody tr td:last-child {
    border-right: none;
}

tbody tr:hover {
 background-color: var(--color-backplate);
}

tfoot tr td {
    border-top: 2px var(--color-foreground) solid;
    font-weight: bold;
    font-style: italic;
}

fieldset {
    padding: 1em;
}

input, textarea, label {
    margin: 0.5em;
    vertical-align: middle;
}

details p {
    border-left: 1px var(--color-highlight) solid;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

details p:first-child {
    margin-top: 0.5em;
}

details p:last-child {
    margin-bottom: 0.5em;
}

@media screen and (max-width: 750px) {

    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.35em;
        margin-block-end: 0.2em;
    }
    
    h2 {
        font-size: 1.5em;
        margin-block-end: 0.8em;
        margin-block-start: 1.2em;
    }
    
    h3 {
        font-size: 1em;
        margin-block-end: 0.8em;
        margin-block-start: 1.2em;
        color: var(--color-highlight);
    }

    h1 sub {
        font-size: 0.38em;
        font-style: normal;
        color: var(--color-highlight);
        vertical-align: baseline;
        white-space: nowrap;
    }

}
